.template--contentContainer2 {
    height: auto; /* 1) 이 높이와 */
    display: grid;
    place-items: center;
}

.template--contentBox2 {
    height: auto; /* 2) 이 높이를 적당히 조정하여 콘텐츠 박스를 사용 */
    width: 90%;
    margin: 10px 30px 10px 30px;
    display: grid;
    place-items: center;
}

textarea#content {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
: white    padding: 14px 20;
    margin: auto ;
: none;
    -radius: 4;
: pointer}