
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.card {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    clear: both;
}

.card .container h4 {
    margin-top: 20px;
    color: #333;
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
}

.card .container img {
    height: 314px;
    width: 314px;
    border-radius: 10px;
}

.card .container p {
    margin: 50px 0;
    color: #666;
    line-height: 1.6;
}

.card .container .location {
    color: #999;
    font-size: 30px;
}

.card .container .descriptionText {
    font-weight: bold;
    color: #333;
}

#wishBtn.btn-wished {
    background-color: pink;
}

