<div>
    <div>
        <label>이메일(e-mail)</label>
        <div th:text="${profileDto.email}"></div>
    </div>

    <div>
        <label>이름</label>
        <div th:text="${profileDto.name}"></div>

    </div>

    <div>
        <label>생일</label>
        <div th:text="${profileDto.birthday}"></div>
    </div>
    <div>
        <label>전화번호</label>
        <div th:text="${profileDto.phone}"></div>
    </div>
</div>

<form th:action method="POST" onsubmit="submitProfileUpdateForm(this);">
    <input type="hidden" name="_method" value="PUT">

    <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <label>프로필</label>
        <img th:src="${profileDto.profile}" style="width: 100px; height: 100px;">
        <input type="text" th:field="*{profileDto.profile}">
    </div>

    <button type="submit">회원 정보 수정</button>
</form>