<form th:action method="POST" onsubmit="submitProfileUpdateForm(this);">
    <input type="hidden" name="_method" value="PUT">
    <div>
        <label>이메일(e-mail)</label>
        <div th:text="${member.email}"></div>
    </div>

    <div>
        <label>이름</label>
        <input type="text" th:field="*{member.name}" th:text="${member.name}">

    </div>

    <!-- 필수 입력 -->
    <div>
        <label>비밀번호</label>
        <input type="password" name="password">
    </div>


    <div>
        <label>생일</label>
        <input type="date" th:field="*{member.birthday}" th:text="${member.birthday}">
    </div>
    <div>
        <label>전화번호</label>
        <input type="text" th:field="*{member.phone}" th:text="${member.phone}">
    </div>

    <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <label>프로필</label>
        <img th:src="${member.profile}" style="width: 100px; height: 100px;">
        <input type="text" th:field="*{member.profile}">
    </div>

    <button type="submit">회원 정보 수정</button>
</form>