<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- 업로드 목록 -->
<table>
    <thead>
    <tr>
        <th>제목</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="uploadedPageDto : ${uploads}">
        <td th:text="${uploadedPageDto.title}"></td>
    </tr>
    </tbody>
</table>

<!-- 페이징처리 시작 -->
<div th:if="${!uploads.isEmpty()}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!uploads.hasPrevious} ? 'disabled'">
            <a class="page-link"
               th:href="@{|?page=${uploads.number - 1}|}">
                <span>이전</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, uploads.totalPages - 1)}"
            th:classappend="${page == uploads.number} ? 'active'"
            class="page-item">
            <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
        </li>
        <li class="page-item" th:classappend="${!uploads.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${uploads.number+1}|}">
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>
<!-- 페이징처리 끝 -->

</body>
</html>