<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- 업로드 목록 -->
<div>
    <ul>
        <li th:each="upload : ${uploads.content}">
            <span th:text="${upload.title}">Title</span>
            <!-- 여기에 추가적인 정보를 표시할 수 있습니다. 예: 이미지, 설명 등 -->
        </li>
    </ul>
</div>

<nav>
    <ul>
        <!-- 이전 페이지 -->
        <li th:unless="${uploads.first}">
            <a th:href="@{/member/mypage/upload-list(page=${uploads.number - 1}, size=${uploads.size})}">Previous</a>
        </li>

        <!-- 페이지 번호 -->
        <li th:each="pageNum : ${#numbers.sequence(Math.max(1, uploads.number - 2), Math.min(uploads.totalPages, uploads.number + 2))}"
            th:class="${pageNum == uploads.number + 1} ? 'active'">
            <a th:href="@{/member/mypage/upload-list(page=${pageNum - 1}, size=${uploads.size})}" th:text="${pageNum}"></a>
        </li>

        <!-- 다음 페이지 -->
        <li th:unless="${uploads.last}">
            <a th:href="@{/member/mypage/upload-list(page=${uploads.number + 1}, size=${uploads.size})}">Next</a>
        </li>
    </ul>
</nav>

</body>
</html>