<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>채팅방 목록</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body class="template--body">


<!-- ----------------------------------------------- -->


<!-- Template-header 시작 -->
<th:block th:replace="domain/layout/header"></th:block>
<!-- Template-header 끝 -->


<!-- ----------------------------------------------- -->


<!-- Template-main 시작 -->
<main class="content">
    <!-- 왼쪽 네비게이션 메뉴 -->
    <!-- 왼쪽 메뉴바 포함 -->
    <div th:replace="~{domain/layout/mypage-leftAside}"></div>

    <section class="main-content">
        <ul class="chat__messages">
            <li th:each="chatRoomListDto : ${chatRooms}" th:data-chat-room-id="${chatRoomListDto.getChatRoomId()}">
                <a th:href="@{/chat/room/{chatRoomId}(chatRoomId=${chatRoomListDto.getChatRoomId()})}">
                    <!--   TODO   ui 작업 후에는 id를 숨겨야함 지금은 헷갈려서 그냥둠        -->
                    <span th:text="|${chatRoomListDto.getChatRoomId()}.|">채팅방 id</span>
                    <span th:text="${chatRoomListDto.getName()}">채팅방 이름</span>
                    <span th:text="${chatRoomListDto.getLastMessage()}">마지막 메세지</span>
                </a>
            </li>
        </ul>
    </section>

</main>
<!-- Template-main 끝 -->

<!-- ----------------------------------------------- -->


<!-- Template-footer 시작 -->
<th:block th:replace="domain/layout/footer"></th:block>
<!-- Template-footer 끝 -->


<!-- ----------------------------------------------- -->


<script th:inline="javascript">
    const memberId = /*[[${#authentication.principal.id}]]*/ 0;

    const chatMessagesEl = document.querySelector('.chat__messages');

    function drawMoreChatMessage(message) {
        // 기존의 채팅방 메시지가 있는지 확인하고, 있다면 해당 요소를 삭제합니다.
        const existingChatRoomElement = chatMessagesEl.querySelector(`li[data-chat-room-id="${message.chatRoom.id}"]`);
        if (existingChatRoomElement) {
            existingChatRoomElement.remove();
        }

        // 새 채팅방 메시지를 삽입합니다. 링크 추가 포함
        const chatRoomItemHtml = `
        <li data-chat-room-id="${message.chatRoom.id}">
            <a href="/chat/room/${message.chatRoom.id}">
                      <!--      TODO ui 작업 후에는 id를 숨겨야함          -->
        <span>${message.chatRoom.id}. </span>
        <span>${message.chatRoomName} </span>
        <span>${message.content}</span>
        </a>
        </li>
        `;

        chatMessagesEl.insertAdjacentHTML("afterBegin", chatRoomItemHtml);
    }
        const socket = new SockJS('/ws');
        const stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe(`/topic/chat/room/list/` + memberId + `/messageCreated`, function (data) {
                const jsonData = JSON.parse(data.body);
                drawMoreChatMessage(jsonData.message);
            });
        });

</script>

</body>


<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</html>