<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>채팅방</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <style>
        .message {
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 10px;
            display: inline-block;
            max-width: 80%;
        }
        .message-left {
            background-color: #f0f0f0;
            margin-left: 10px;
            text-align: left;
        }
        .message-right {
            background-color: #a0e0a0;
            margin-right: 10px;
            text-align: right;
            float: right;
        }
        .chat__messages {
            overflow-y: auto;
            max-height: 400px;
            display: flex;
            flex-direction: column-reverse; /* 새 메시지가 아래에 추가되도록 */
        }
        .clear-float {
            clear: both;
        }
    </style>

</head>

<body class="template--body">


<!-- ----------------------------------------------- -->


<!-- Template-header 시작 -->
<th:block th:replace="~{domain/layout/header}"></th:block>
<!-- Template-header 끝 -->


<!-- ----------------------------------------------- -->


<!-- Template-main 시작 -->
<main class="content">
    <!-- 왼쪽 네비게이션 메뉴 -->
    <!-- 왼쪽 메뉴바 포함 -->
    <div th:replace="~{domain/layout/mypage-leftAside}"></div>

    <section class="main-content">
        <h1 th:text="|${roomId}번 채팅방|"></h1>

        <nav>
            <a href="list">채팅방 목록</a>
        </nav>

        <form onsubmit="submitWriteForm(this); return false;" method="POST">
            <input autocomplete="off" type="text" name="content" placeholder="내용">
            <input type="submit" value="작성">
        </form>

        <div>
            <ul class="chat__messages">

            </ul>
        </div>

    </section>

</main>
<!-- Template-main 끝 -->

<!-- ----------------------------------------------- -->


<!-- Template-footer 시작 -->
<th:block th:replace="~{domain/layout/footer}"></th:block>
<!-- Template-footer 끝 -->


<!-- ----------------------------------------------- -->


<script th:inline="javascript">
    const roomId = /*[[${roomId}]]*/ 0;
    const memberId = /*[[${#authentication.principal.id}]]*/ 0;

    function drawChatMessage(message) {
        // 현재 사용자의 메시지인지 판별하여 클래스 적용
        const messageClass = message.senderId === memberId ? 'message-right' : 'message-left';
        const messageElement = `<li class="message ${messageClass}">${message.writerName} (${message.id}) : ${message.content}</li><div class="clear-float"></div>`;

        chatMessagesEl.insertAdjacentHTML("beforeend", messageElement);
    }

    function drawMoreChatMessage(message) {
        lastChatMessageId = message.id;
        const messageClass = message.senderId === memberId ? 'message-right' : 'message-left';
        const messageElement = `<li class="message ${messageClass}">${message.writerName} (${message.id}) : ${message.content}</li><div class="clear-float"></div>`;


        chatMessagesEl.insertAdjacentHTML("afterbegin", messageElement);
    }

    fetch('/chat/room/' + roomId + '/messages')
        .then(response => response.json())
        .then(messages => {
            console.log(messages)
            messages.forEach(message => {
                drawChatMessage(message);
            });
        });
</script>

<script>
    const chatMessagesEl = document.querySelector('.chat__messages');

    function submitWriteForm(form) {

        form.content.value = form.content.value.trim();

        if (form.content.value.length == 0) {
            alert('내용을 입력해주세요.');
            form.content.focus();
            return;
        }

        const action = `/chat/room/${roomId}/write`;

        fetch(
            action,
            {
                method: 'POST',
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    content: form.content.value,
                }),
            }
        )
            .catch(error => alert(error));

        form.content.value = '';
        form.content.focus();
    }


    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe(`/topic/chat/room/${roomId}/message`, function (data) {
            const jsonData = JSON.parse(data.body);
            drawMoreChatMessage(jsonData.message);
        });
    });

</script>

</body>


<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</html>
