<form th:action method="POST" onsubmit="submitLoginForm(this);">
    <div>
        <label>email</label>
        <input type="text" name="email">
    </div>

    <div>
        <label>비밀번호</label>
        <input type="password" name="password">
    </div>


    <button type="submit">로그인</button>
</form>

<!-- 버튼 모양의 링크
<a href="http://localhost:8080/member/socialLogin" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">방문하기</a>
-->