<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/css/template/template.css"> <!-- 문서 기본 화면 배치/기본 폰트 등 기본 설정 -->
    <link rel="stylesheet" href="/css/common/header.css">

    <title>Feelko-template3</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- fontAwesome -->
    <script src="https://kit.fontawesome.com/ae1a88d4e2.js" crossorigin="anonymous"></script>
    <!-- toastr-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">

    <!-- js -->
    <script src="/js/common/header.js"></script>

    <script>
        //현재 페이지의 url을 저장해서 나중에 redirect할 때 꺼내 쓸 수 있도록 하는 script
        // 페이지가 언로드될 때 실행
        window.onbeforeunload = function() {
            // dontSave 변수가 'undefined'이거나 false인 경우에만 URL을 세션에 저장
            if (typeof dontSave === 'undefined' || !dontSave) {
                sessionStorage.setItem('lastVisitedUrl', window.location.href);
            }
        };
    </script>

</head>
<body class="template--body">


<!-- ----------------------------------------------- -->


<!-- Template-header 시작 -->
<header class="template--header" th:fragment="feelkoHeader">
    <aside class="template--leftAside"></aside>
    <section class="template--Section">


        <!-- nav 시작 -->
        <nav class="common--navContainer">
            <header class="common--header__container">
                <a href="/">
                    <img src="/images/feelko2.png" alt="feelko 로고">
                </a>
            </header>
            <ul class="nav justify-content-around" id="common--boardList">

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/experienceList">자유게시판</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/html/board/boardQuestion.html">질문게시판</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="https://www.naver.com" style="color:grey;">예비게시판실험</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="https://www.naver.com" style="color:grey;">예비게시판실험</a>-->
<!--                </li>-->
                <!-- 로그인/프로필 버튼과 드롭다운 메뉴를 포함하는 리스트 아이템 -->
                <li class="nav-item dropdown">
                    <div class="icon-container">
                        <!-- 버튼 형태로 변경, 햄버거 메뉴 아이콘과 프로필 아이콘을 포함 -->
                        <button class="btn" id="moreDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/menu-icon.svg" alt="메뉴 아이콘" class="hamburger-icon"> <!-- 햄버거 아이콘 -->
                            <img th:src="${#authorization.expression('isAuthenticated()') ? #authentication.principal.profileImage : '/images/로그인 이미지.png'}"
                                 alt="사용자 아이콘" class="user-icon"
                                 onerror="this.onerror=null; this.src='/images/기본 프로필.JPG';">
                        </button>

                        <!-- 드롭다운 메뉴 -->
                        <ul class="dropdown-menu common--tripBoard" aria-labelledby="moreDropdown">
                            <!-- 기존 메뉴 아이템들 -->

                            <li th:if="${#authorization.expression('isAnonymous()')}">
                                <a class="dropdown-item" href="/member/login">로그인</a>
                            </li>
                            <li th:if="${#authorization.expression('isAnonymous()')}">
                                <a class="dropdown-item" href="/member/register">회원가입</a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a class="dropdown-item" href="/member/logout">로그아웃</a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a class="dropdown-item" href="/member/mypage">마이페이지</a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a class="dropdown-item" href="/member/mypage/reservation-list">결제&예약 정보</a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a class="dropdown-item" href="/experiences/create">체험 등록</a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a class="dropdown-item" href="/member/mypage/upload-list">작성한 체험 정보</a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a class="dropdown-item" href="/member/mypage/wishlist">찜, 위시 리스트</a>
                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a class="dropdown-item" href="/chat/room/list">메시지</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </nav>
        <!-- nav 끝 -->

    </section>
    <aside class="template--rightAside"></aside>
</header>
<!-- Template-header 끝 -->

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous" defer></script>

<script>
    const urlParams = getUrlParams(location.href);
    // history.back 에 의해서 돌아온 경우에 자바스크립트가 실행이 안될 수 도 잇다.
    // $(window).bind("pageshow", function (event) {}); 를 사용하면 해결이 된다.
    $(window).bind("pageshow", function (event) {
        if (sessionStorage.getItem("historyBackFailMsg")) {
            toastWarning(sessionStorage.getItem("historyBackFailMsg"));
            sessionStorage.removeItem("historyBackFailMsg");
        }
        if (sessionStorage.getItem("historyBackMsg")) {
            toastNotice(sessionStorage.getItem("historyBackMsg"));
            sessionStorage.removeItem("historyBackMsg");
        }
    });

    if (urlParams.msg) {
        toastNotice(urlParams.msg);
    }

    if (urlParams.failMsg) {
        toastWarning(urlParams.failMsg);
    }
</script>

</body>
</html>