<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/common/mypage-leftAside.css">
</head>
<body>

<!-- 왼쪽 네비게이션 메뉴 -->
<aside class="template--leftAside">
    <nav class="nav flex-column">
        <a class="nav-link" href="/member/mypage">개인정보</a>
        <a class="nav-link" href="/member/mypage/reservation-list">결제&예약 정보</a>
        <a class="nav-link" href="/experiences/create">체험 작성</a>
        <a class="nav-link" href="/member/mypage/upload-list">작성한 체험 목록</a>
        <a class="nav-link" href="/member/mypage/wishlist">위시 리스트</a>
        <a class="nav-link" href="/chat/room/list">메시지</a>
    </nav>
</aside>

</body>
</html>