<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- css -->
    <link rel="stylesheet" href="/css/common/main.css">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>FeelKo</title>
</head>
<body class="template--body">


<!-- ----------------------------------------------- -->


<!-- Template-header 시작 -->
<th:block th:replace="~{domain/layout/header}"></th:block>
<!-- Template-header 끝 -->


<!-- ----------------------------------------------- -->


<!-- Template-main 시작 -->
<main class="template--main">
    <aside class="template--leftAside"></aside>
    <section class="template--Section">


        <!-- 페이지 제목 시작 -->
        <div class="template--pageTitleContainer2">
            <div class="template--pageTitleBox">
                <div class="template--overlayedTitle2" style="color: black;">
                    <a>
                        <form action="/search" method="get" onsubmit="return submitSearchForm();">
                            <label for="destination">여행지 :</label>
                            <select id="destination" name="destination" required style="margin-right: 16px;">
                                <option value="" disabled selected hidden>여행할 장소를 선택하세요</option>
                                <option th:each="option : ${allDestinations}"
                                        th:value="${option}"
                                        th:text="${option}"
                                        th:selected="${selectedLocation == option}">전국
                                </option>
                            </select>
                            <label for="selectDate">날짜 :</label>
                            <input type="date" id="selectDate" name="selectDate" th:value="${selectDate}"/>

                            <input type="checkbox" id="include_closing" name="include_closing"
                                   th:checked="${includeClosing}" style="margin-left: 10px;">
                            <label for="include_closing">마감 체험 포함</label>

                            <button type="submit" id="search-button">검색</button>
                        </form>
                    </a>
                </div>
            </div>
        </div>
        <!-- 페이지 제목 끝 -->


        <!-- 콘텐츠 시작 -->
        <div class="main-1">
            <div class="hotpost">
                인기 체험
            </div>
            <div class="main-hot">
                <div th:each="experience : ${popularExperiences}" class="hotpost-1">
                    <div class="hotpost-img1">
                        <a th:href="@{'/experiences/'+ ${experience.id}}">
                            <img th:src="${experience.imageUrl}" alt="Experience Image" class="hotpost-img12">
                        </a>
                    </div>
                    <div class="hotpost-name1">
                        <div class="wishcounter">
                            <img src="/images/찜 이미지.png" alt="찜" style="width:14px">
                            <span th:text="${experience.wishCounter}" style="font-size: 14px"></span>
                        </div>
                        <div class="postname">
                            <a th:href="@{'/experiences/'+ ${experience.id}}">
                                <span th:text="${experience.title}"></span>
                            </a>
                        </div>
                        <div class="postday">
                            <span th:if="${experience.startDate != null and experience.endDate != null}">
                                기간 : <span th:text="${experience.startDate} + ' ~ ' + ${experience.endDate}"></span>
                            </span>
                            <span th:if="${experience.startDate == null and experience.endDate != null}">
                                기간 : <span
                                    th:text="${#temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')} + ' ~ ' + ${experience.endDate}"></span>
                            </span>
                            <span th:if="${experience.endDate == null}">
                                기간 : <span
                                    th:text="${experience.startDate != null ? experience.startDate : #temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')} + ' ~ 상시 운영중'"></span>
                            </span>
                        </div>
                        <div class="price">가격 : <span
                                th:text="${#numbers.formatInteger(experience.price, 1, 'COMMA')} + ' 원'"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-2">
            <div class="notime">
                마감 임박
            </div>
            <div class="main-hot">
                <div th:each="experience : ${closingSoonExperiences}" class="hotpost-1">
                    <!-- 마감 임박 표시 -->

                    <div class="hotpost-img1">
                        <img th:src="${experience.imageUrl}" alt="Experience Image" class="hotpost-img12">
                    </div>
                    <div class="hotpost-name1">
                        <div class="postname">
                            <a th:href="@{'/experiences/'+ ${experience.id}}">
                                <span th:text="${experience.title}"></span>
                            </a>
                        </div>
                        <div class="postday">기간 : <span
                                th:text="${experience.startDate} + ' ~ ' + ${experience.endDate}"></span></div>
                        <div class="price"><span
                                th:text="'가격 : ' + ${#numbers.formatInteger(experience.price, 1, 'COMMA')} + ' 원'"></span>
                        </div>
                        <span th:text="'남은 인원 : ' + ${experience.headcount}"> </span>
                    </div>
                </div>
            </div>
        </div>
        <!--        </div>-->
        <!-- 콘텐츠 끝 -->


    </section>
    <aside class="template--rightAside"></aside>
</main>
<!-- Template-main 끝 -->


<!-- ----------------------------------------------- -->


<!-- Template-footer 시작 -->
<th:block th:replace="~{domain/layout/footer}"></th:block>
<!-- Template-footer 끝 -->


<!-- ----------------------------------------------- -->


<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const experienceLinks = document.querySelectorAll('.hotpost-1');

        experienceLinks.forEach(function (experience) {
            experience.addEventListener('click', function () {
                // 클릭 시 애니메이션을 추가할 수 있습니다.
                // 여기에 애니메이션 코드를 추가하면 됩니다.

                // 경로로 이동합니다.
                const link = experience.querySelector('a');
                const href = link.getAttribute('href');
                window.location.href = href;
            });
        });
    });
</script>
<script>
    function submitSearchForm() {
        var destination = document.getElementById('destination').value;
        var selectDate = document.getElementById('selectDate').value;
        var includeClosing = document.getElementById('include_closing').checked ? 'true' : 'false';
        var url = '/search?destination=' + encodeURIComponent(destination) +
            '&selectDate=' + selectDate +
            '&include_closing=' + includeClosing +
            '&page=1';
        window.location.href = url;
        return false; // 폼의 기본 제출을 방지
    }
</script>
</body>
</html>