<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="card">
    <div class="container">
        <h4 th:text="${experience.title}"></h4>
        <img th:src="${experience.imageUrl}" alt="Image">
        <p th:text="${experience.location}"></p>
        <p th:text="${experience.descriptionText}"></p>
        <p th:text="${experience.member}"></p>
        <!-- 찜 버튼 -->
        <button type="button" id="wishBtn" th:onclick="'saveWish()'">찜하기</button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
    /** 위시리스트에 추가 **/
    function saveWish() {
        var memberId = [[${#authentication.principal.id}]];
        var experienceId = [[${experience.id}]];

        $.ajax({
            url: '/member/mypage/wishlist',
            type: 'POST',
            data : JSON.stringify({
                memberId: memberId,
                experienceId: experienceId
            }),
            contentType: 'application/json;',
        }).done(function(result){
            if(result){
                alert("찜이 등록되었습니다.");
            } else {
                alert("찜이 삭제되었습니다.");
            }
        }).fail(function(error){
            alert("요청에 실패하였습니다.");
        });
    };
</script>

</body>
</html>
